main {
    text-align: center;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    font-family: Poppins, sans-serif;
    background: #ebeff3;
    color: #333;
    padding: 3rem 0;
}

.sophiesection {
    font-family: Poppins, sans-serif;
    background: #ffffff;
    color: #333;
    padding: 3rem 0;
}